*{
  margin: 0;
}

header{
  background-color: transparent;
  width: 100%;
  display: inline-block;
  color: white;
  position: fixed;
  top: 0;
}

header center div{
  background-color: black;
  display: inline-block;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  font-size: 18px;
  font-family: sans-serif;
}

#nickname{
  color: lightblue;
}

#roomCode{
  color: lightpink;
}

footer{
  position: fixed;
  bottom : 10px;
  width: 100%;
  padding-left: 5px;
  height: 60px;
}

footer input{
  width: 90%;
  padding-left: 10px;
  height: 60px;
  border: 1px solid darkgrey;
  font-size: 15px;
  border-radius: 10px;
}

footer button{
  width: 7%;
  text-align: center;
  padding: 0;
  background-color: lightblue;
  font-size: 18px;
  color: white;
  height: 60px;
  border: 1px solid darkgrey;
  cursor: pointer;
  border-radius: 10px;
}

#chatBox{
  overflow-y: auto;
  overflow-x: auto;
  background-color: #e9e9e9;
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
  border: 2px solid black;
  border-radius: 20px;
}

#chatBox p{
  padding-left: 20px;
  font-size: 20px;
}
